@font-face{
    font-family: 'Old Standard TT', serif;
    src: url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}