*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    /* margin: 20px; */
    justify-content: space-between;
    font-size: 20px;
    height: 14%;
}
.logobox{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.logobox img{
    width: 28px;
    height: 30px;
    margin: 5px 5px 5px 0;
}
.topnav{
    margin: auto;
    margin-bottom: 0;
    margin-right: 0;
    display: none;
}
.topnav a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
    margin-right: 10px;
}
.viewpage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page{
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}
.sidebar{
    width: 30%;
    height: 100%;
    /* display: none; */
}
.sideb a{
    color: rgba(82%,31%,19%,1.00);
    text-decoration: none;
    margin: auto;
    display: block;
    text-align: center;
    width: 36px;
    height: 36px;
    margin-top: 0px;
    margin-bottom: 6vh;
    user-select: none;
    
}
.sidebarMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 6%;
    height: 100%;
    text-align: center;
    display: none;
}
.sidebarMedia img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
.container{
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    background-position: -160px 0;
    justify-content: space-between;
    flex-direction: column;
}
.sidebtn{
    margin: 20px;
    /* width: 24px;
    height: 24px; */
    /* position: absolute; */
    top: 5px;
    right: 10px;
}
.sidebtn img{
    width: 24px;
}
.newsbox{
    width: 70vw;
    height: 50vh;
    margin: auto;
    margin-top: 10vh;
    border-top: 5px solid rgba(82%,31%,19%,1.00);
    background-color: #00000078;
    padding: 20px;
}
span{
    background-color: rgba(82%,31%,19%,1.00);
    padding: 3px;
    color: white;
}
.newsbox h1{
    color: white;
}
.newsbox h3{
    color: white;
}
.won h1{
    color: black;
    margin: auto;
    margin-top: 24vh;
    width: 260px;
    text-align: center;
}
.won h3{
    color: rgb(80, 80, 80);
    text-align: center;
}
.won{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #fff;
}
.won a{
    color: white;
    display: block;
    width: 180px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(82%,31%,19%,1.00);
    padding: 5px 15px 15px 5px;
    border: 1px solid #fff;
    
}
.newsbox a{
    color: white;
    padding: 5 15 15 5;
    text-decoration: none;
    border: 1px solid #fff;
    display: block;
    /* margin-top: 50px; */
    width: 180px;
    padding-top: 5px;
    height: 30px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.media{
    display: flex;
    margin: 20px;
    position: absolute;
    z-index: 2;
    bottom: 1vh;
    left: 2vh;
}
.media a{
    margin: 5px;
    width: 24px;
    height: 24px;
}
.media img{
    width: 24px;
    height: 24px;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.438); 
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity linear 0.2s;
}
.menu{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(15%,10%,12%,1.00);
    z-index: 2;
    /* display: none; */
    overflow: hidden;
}
.menuitems{
    display: flex;
    flex-direction: column;
    
}
.menuitems a{
    margin: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.menu img{
    width: 24px;
    height: 24px;
    margin: 24px;
}
.modalhide{
    transition: opacity linear 0.2s;
    opacity: 0;
    display: none;
}
.menubutton{
    text-align: right;
    height: 60px;
}
.loginModal{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
  
}
.loginForm{
    width: 300px;
    height: 340px;
    background-color: white;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    border: none;
    margin: auto;
    font-size: 20px;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-bottom: 2px solid rgba(15%,10%,12%,1.00);
    outline: none;
    
}
form a{
    color: white;
    background-color: rgba(82%,31%,19%,1.00);
    border: none;
    outline: none;
    padding: 8px 20px 8px 20px;
    display: block;
    margin: auto;
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    width: 120px;
}
form{
    margin-top: 20px;
}
@media only screen and (min-width: 960px){
    
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .newsbox{
        width: 60vw;
        height: 20vh;
        margin: auto;
        margin-top: 20vh;
        border-top: 5px solid rgba(82%,31%,19%,1.00);
        background-color: #00000078;
    }
    .menuitems{
    text-align: center;
        margin: auto;
        margin-top: 16%;
       
    }
    .menuitems a{
        font-size: 26px;
    }
    .topnav{
        display: block;
        margin-bottom: auto;
        margin-top: 6%;
    }
    .header{
        height: 10%;
    }
    .logobox{
        font-size: 20px;
        font-weight: 700;
    }
    .container{
        flex-direction: column-reverse;
    }
    .media{
        flex-direction: row-reverse;
    }
    .won h1{
        font-size: 50px;
    }
    .won a{
        color: white;
        padding: 5px 15px 15px 5px;
        text-decoration: none;
        border: 1px solid #fff;
        display: block;
        width: 180px;
        /* padding-top: 5px; */
        height: 30px;
        /* margin: auto; */
        margin-right: 20px;
        /* text-align: center; */
    }
    span{
        font-size: inherit;
        background-color: rgba(82%,31%,19%,1.00);
        color: white;
    }
    .sideb a{
        margin-top: 20px;
    }
}
.map{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;

}
iframe{
    width: 100vw;
    height: 87vh;
    border: 0;
}
@media only screen and (min-width: 1030px) {
    .menu img{
        margin: 31px;
    }
    .viewpage{
        width: 95%;
    }
    .logobox{
        width: 200px;
        /* flex-direction: row;      */
    }
    .header{
        height: 90px;
    }
    .won a{
        color: white;
        padding: 5px 15px 15px 5px;
        text-decoration: none;
        border: 1px solid #fff;
        display: block;
        width: 180px;
        /* padding-top: 5px; */
        height: 30px;
        /* margin: auto; */
        margin-right: 20px;
        /* text-align: center; */
    }
    .sidebar{
        display: block;
    }
    .sidebarMedia{
        display: flex;
    }
    .won{
        border-top: 5px solid rgba(82%,31%,19%,1.00);
        background-color: #00000078;
        padding: 20px;
        width: 30vw;
        height: 180px;
        margin: auto;
        margin-top: 40vh;
        margin-left: 100px;
    }
    .won h1{
        color: white;
        margin-top: 20px;
    }
    .won h3{
        color: white;
    }
    .topnav{
        display: block;
        margin-bottom: auto;
        margin-top: 6vh;
        font-size: 18px;
    }
    .sideb img{
        width: 24px;
    }
    .media{
        display: none;
    }
    .container{
        width: 100%;
        height: 90%;
        background-position: -200px 0;
        background-size: 120%;
    }
    .newsbox{
        width: 30vw;
        height: 180px;
        margin: auto;
        margin-top: 40vh;
        margin-left: 100px;
    }
    .won h1{ 
        text-align: left;
        display: inline;
    }
    .loginForm{
        margin-top: 20vh;
    }
    .loginModal{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.507);
        top: 0;
        left: 0;
    }
    .logobox{
        margin: 10px 10px 10px 100px;
    }
    .menuitems{
        text-align: center;
        margin: auto;
        margin-top: 16%;
    }
    .menu{
        width: 25%;
    }
    .sideb a{
        position: absolute;
        top: 32px;
        right: 25px;
    }
    .map{
        width: 95vw;
    }
}