

.page{
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {}
@media only screen and (min-width: 1030px) {}