
.media{
    display: flex;
    margin: 20px;
    position: absolute;
    z-index: 2;
    bottom: 1vh;
    left: 2vh;
}
.media a{
    margin: 5px;
    width: 24px;
    height: 24px;
}
.media img{
    width: 24px;
    height: 24px;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .media{
        flex-direction: row-reverse;
    }
}
@media only screen and (min-width: 1030px) {
    .media{
        display: none;
    }
}